### IntelliJ IDEA ###
.idea/
*.iml
out/

### Java bytecode ###
*.class

### Logs ###
*.log

### Build tools ###
/target/
/build/

### OS / File System ###
.DS_Store
Thumbs.db
desktop.ini

### VS Code ###
.vscode/

### Draft folder ###
src/Draft.java
